.textareaContainer {
  width: 100%;
  height: 100%;
}

.textareaContainer textarea {
  width: 100%;
  height: 84%;
  font-size: 24px;
  padding: 10px;
  border: none;
}

.textareaHeader {
  width: 100%;
  height: 15%;
  font-size: 40px;
  padding: 10px 10px;
  border: none;
  background-color: rgb(232, 232, 232);
}

.textareaHeader:focus {
  outline: none;
  border: none;
}

.textareaContainer textarea:focus {
  outline: none;
  border: none;
}
